<div class="container welcome">

  <div class="jumbotron">
  <h1>Flag Match Game</h1>
  <p>A game of concentration to test your memory</p>
  </div>

  <div ng-show="authCtrl.error">
    <span>{{ authCtrl.error }}</span>
  </div>

  <form ng-submit="login()">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="enter a username" ng-model="authCtrl.players.name" required>
    </div>
    <input type="submit" class="btn" value="PLAY">
  </form>
  
  <p ng-if="authData">Logged in user: <strong>{{ authData.uid }}</strong></p>

</div>