/* app css stylesheet */
input {
  line-height: 2em;
}

.btn {
  cursor: pointer;
  padding: 15px 45px;
  text-align: center;
  margin: 30px auto;
  font-size: 24px;
  background-color: #fff;
  color: #28aadc;
  border: 3px solid #28aadc;
}

.btn:hover {
  background-color: #28aadc;
  color: white;
}

.container {
  width: 100%;
  text-align: center;
  background-color: #2F4F4F;
}

.card-grid {
  width: 200px;
  height: 150px;
  margin: 20px;
  display: inline-block;
}

.card-grid .front, .card-grid .back {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #efefef;
  border: 1px solid gray;
}

.card-grid .front {
  background-color: pink;
  background: #fff url(images/globe.jpg) no-repeat center;
}

.flag-holder {
  width: 98%;
  height: 98%;
  margin: 0 auto;
}

#grid-wrapper {
  width: 90%;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}

#header {
  background: #fff;
  padding-bottom: 20px;
}

.player-name {
  margin-top: 10px;
  font-weight: bold;
}
